@import '../../../styles/settings.scss';

.banner {
    margin: 20px 0;
    position: relative;
    font-family: $font-family;
    a {
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
      text-decoration: none;
      color: white;
      letter-spacing: 2px;
      margin: 12px;
      font-weight: 700;
    }
    header {
      letter-spacing: $title-letter-spacing;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
    }
    .icon {
      font-size: $font-size-icon-baner;
      margin: 30px 0;
      
    }
}
  
  .firstBanner {
    margin-top: 26%;
    margin-left: 0;
    margin-right: 20px;
    background-image: url(https://images.unsplash.com/photo-1543146677-e3b9b78e0a90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
    background-size: cover;
    background-position: 80% 80%;
    height: 40%;
    a {
      font-size: 24px;
      background-color: rgba(#ff0000, 0.5);
    }
    span {
      font-size: 38px;
    }
    p:last-of-type {
      width: 60%;
      text-align: right;
      display: inline-block;
      margin: 12px;
    }
  }
  .secondBanner {
  
    background-image: url(https://images.unsplash.com/photo-1588499841666-96d8019a1fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
    background-position: bottom;
    background-size: cover;
    background-origin: inherit;
    a {
      background-color: rgba(#33ffcc, 0.7);
    }
  }
  .thirdBanner {
    top: 0;
    background-image: url(https://images.unsplash.com/photo-1554924939-af21f9be1b94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80);
    background-position: center;
    background-size: cover;
    background-origin: inherit;
    margin-right: 0;
    margin-left: 20px;
    a {
      background-color: rgba($color: blue, $alpha: 0.4);
    }
  }
