@import '../../../styles/settings.scss';

.productPage{
   display: grid;
   grid-template-columns: 0.2fr 0.8fr;
}
.searchProductBox {

    background-color: red;
   
    display: inline-block;
    .headerPanel{
        background-color: yellowgreen;
    }
}
.contentProduct{
    .listOrder{
        background-color: green;
    }
    display: inline-block;
    background-color: yellow;
}