@import "../../../styles/settings.scss";

.new_line {
  display: block;
  padding-bottom: 10px;
}

.banner {
  grid-area: 1 / 1 / 2 / 2;
 margin-top:22px
}

.title {
  text-align: center;
}

.form__title {
  margin: 0 auto;
  font-size: large;
  font-weight: 600;
  margin-top: 30px;
}

.conteiner {
  max-width: 1220px;
  margin:0 auto;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: $font-family;
}

.eachAdress{
  text-align: left;
  h3,p{
    width:60%;
    margin:0 auto;
  }

}
.article {
  padding-left: 20px;
}

.form__box {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.article__shop {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  div {
    width: 50%;
    display: inline-block;
  }
}
.article__service {
  grid-area: 1 / 3 / 2 / 4;
  margin-left: 30px;
  h3{
    margin: 0 auto;
  }

}
// .servicetitle {
//   margin-bottom: 37px;
// }

.form {
  grid-area: 2 / 2 / 3 / 4;
  width:75%;
  margin-left:70px;
  margin-top:50px;
  &__input {
    width: 200px;
  }
  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.form__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.form__label {
  padding-right: 10px;
}