@import"../../../styles/settings.scss";

.new_line {
    display:block;
    padding-bottom:10px;
  }
  
  .img{
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      
  }

  .img__size{
    max-width: 230px;
    max-height: auto;
    margin-bottom: 10px;

  }
  .title{
      padding-left: 20px;
  }


  .form__title{
      margin: 0 auto;
      font-size: large;
      font-weight: 600;
      margin-top: 30px;
  }

  .conteiner{
      max-width: 1000px;
    padding-left: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: start;
  }

  .article{
      padding-left: 20px;
  }

  .form__box{
    display:flex;
    justify-content: space-between;
margin: 30px;
 
  }
  .form__input{
      width: 200px;
      
  }
  .form__button{
    display:block;
    margin: 0 auto;
      margin-bottom: 15px;
     
  }
  .form__label{
    padding-right: 10px;
  }