@import "../../../styles/settings.scss";

.content {
  height: 300px;
  overflow: hidden;
  .mainBaner {
    font-family: $font-family;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }
   
}
