@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/*font-family*/
$font-family:'Roboto', sans-serif;


/* font-size*/
$font-size-title:25px;
$font-size-nav:18px;
$font-size-icon:14px;
$font-size-icon-baner:58px;
$font-size-price:20px;
$font-size-old-price:12px;
$font-size-button:16px;

/* background-color*/
$color-NavDown:#b70f23;
$color-NavUp:#eeee;
$color-NavInside:#F0F0F0;
$color-NavInside-icon:red;

/* background-color-hover*/
$color-NavDown-hover:#b70f2352;

/*border*/
$border-FooterColor:#b70f23;
$border-gray: #cacaca;
/* Padding*/
$padding-nav-list:15px 30px;
$padding-nav-top-inside:10px 0;

/*Color-font*/
$color-navUp: black;
$color-icon-nav:white;
$color-light:white;
$color-dark:black;


/* Margin*/
$margin-nav-icon:0 10px;
$margin-section-page:0 auto 20px;

/*Width*/
$top-inside-width:80%;
/*Letter-Spacing*/
$title-letter-spacing:10px;