@import "../../../styles/settings.scss";
.root{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
}
.about{
    font-family: $font-family;
    width: 100%;
    padding:30px;
    display: inline-block;
   
}
.banner{
    width: 100%;
margin-top: 20px;
    height: 500px;
    display:inline-block;
}



.section{
    width: 650px;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .new_line {
        display: block;
        padding-bottom: 2px;
      }

      .paragraph{
          margin-bottom: 10px;
      }